.btn{
  display: block;
  width: 500px;
  height: 100px;
  border-radius: 10%;
  margin: 20px;
  background-color: rgb(106, 81, 219);
  font-size: 25px;
  color: beige;
}
.list {
  color: rgb(222, 192, 225);
  
}
.App{
  margin: 25px;

}
body{
  background-color: rgb(155, 144, 165);
}